*.php text eol=lf
*.phpt text eol=lf
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/box.json.dist export-ignore
/build-phar.sh export-ignore
/composer.lock export-ignore
/infection.json.dist
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/test/ export-ignore
