{
    "alias": "roave-backward-compatibility-check",
    "banner": false,
    "check-requirements": false,
    "compactors": [
        "KevinGH\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "compression": "GZ",
    "main": "bin/roave-backward-compatibility-check.php",
    "output": "dist/roave-backward-compatibility-check.phar",
    "files-bin": [
        "LICENSE",
        "vendor/composer/composer/LICENSE"
    ],
    "timestamp": "1970-01-01"
}
