{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "UnwrapArrayUnique": {
            "ignore": [
                "Roave\\BackwardCompatibility\\DetectChanges\\BCBreak\\PropertyBased\\PropertyDocumentedTypeChanged::__invoke::39",
                "Roave\\BackwardCompatibility\\DetectChanges\\BCBreak\\PropertyBased\\PropertyDocumentedTypeChanged::__invoke::40"
            ]
        }
    }
}
