{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "report": "/^\\d+\\.\\d+\\.x$/"
        }
    },
    "mutators": {
        "@default": true,
        "NotIdenticalNotEqual": false
    },
    "minMsi": 96,
    "minCoveredMsi": 99
}
