parameters:
    level: 7
    paths:
        - bin
        - src
        - test/unit
    ignoreErrors:
        # Until https://github.com/thecodingmachine/safe/issues/185 is solved, we use \array_combine
        - '~^Function array_combine is unsafe to use.*~'
        - '~function array_merge expects array, array|false given\.~'

includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
