parameters:
    level: 7
    paths:
        - bin
        - src
        - test/unit
    ignoreErrors:
        # Type inference for internal array_* functions is still pending improvements in phpstan stubs.
        - '~^Method .*Test::.* but returns array<int\|string, mixed>\.$~'

includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
