<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    bootstrap="test/bootstrap.php"
    colors="true"
    failOnDeprecation="true"
    failOnWarning="true"
    failOnPhpunitDeprecation="true"
    failOnNotice="true"
    failOnEmptyTestSuite="true"
    failOnPhpunitNotice="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="end to end">
            <directory>./test/e2e</directory>
        </testsuite>
    </testsuites>
    
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
